.container {
  padding: 3rem 5rem;
}

.header {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #4f4f4f;
  margin: 0;
}

.row {
  display: flex;
  margin: 2rem 0;
}

.block {
  /* margin-right: 4rem; */
  min-width: 200px;
}

.full-width-block {
  width: 100%;
}

.tags {
  font-family: "Ubuntu Mono", monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  color: #333333;
}
