.container {
  background: url("../../assets/background.png");
  height: 100vh;
  box-sizing: border-box;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.heading {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
  margin: 0;
  text-align: left;
  width: 400px;
  /* identical to box height */

  text-transform: uppercase;

  color: #f2f2f2;
  box-sizing: border-box;
}

.card {
  background: #ffffff;
  border-radius: 24px;
  width: 400px;
  padding: 2rem 1.5rem;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}