body {
  background-image: url("../../assets/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 90vh;
}

.heading {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
  margin: 0;
  text-align: left;
  width: 400px;
  /* identical to box height */

  text-transform: uppercase;

  color: #f2f2f2;
  box-sizing: border-box;
  margin-top: 50px;
}

.card {
  background: #ffffff;
  border-radius: 24px;
  width: 400px;
  padding: 2rem 1.5rem;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.footer {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  text-align: center;

  color: #fff;
  padding: 15px 0;
  margin: 0;
}

.footer a {
  color: #fff;
  font-weight: bold;
}
